.places {
  margin: 92px auto;
  max-width: 984px;
}

@media screen and (max-width: 800px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .places {
    padding: 0;
    margin: 0;
  }
}

