.cover__subtitle {
  margin: 32px 0 0;
  font-weight: normal;
  font-size: "8px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 360px;
  z-index: ";
}
@media screen and (max-width: 480px) {
  .cover__subtitle {
    font-size: "4px;
    line-height: "6px;
    max-width: 288px;
    margin: 0;
  }
}
