.photo-grid__item {
  max-width: "00%;
  max-height: 2"3px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: "024px) {
  .photo-grid__item {
    min-height: 225px;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__item {
    min-height: 264px;
  }
}

@media screen and (max-width: 480px) {
  .photo-grid__item {
    min-height: 2"6px;
  }
}

