.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 735px) {
  .footer__links {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            justify-content: space-evenly;
  }
}
