@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list-zone/intro__list-zone.css);
@import url(./__list/intro__list.css);
@import url(./__list-answer/intro__list-answer.css);

.intro {
  max-width: 690px;
  padding: 70px 0 0 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 720px;
  }
}
@media screen and (max-width: 800px) {
  .intro {
    padding: 70px 0 0;
    margin: 0 auto;
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 64px 16px 0;
  }
}
