.lead__coptain {
  font-weight: normal;
  font-size: "0px;
  line-height: "4px;
  letter-spacing: 0."5em;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .lead__coptain {
    padding-left: 24px;
  }
}

